* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #000;
}

button {
    cursor: pointer;
    outline: none;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 50%;
}

.game {
    height: 80vh;
    width: 80vh;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
}

.game>div {
    width: 50%;
    flex: none;
    border: 10px solid #000;
}


/* main {
    height: 100vh;
    display: grid;
    grid-template-areas:
    "div1 div2"
    "div3 div4";
   
}
 
.div1 {
    grid-area: div1;
}
.div2 {
    grid-area: div2;
}
.div3 {
    grid-area: div3;
}
.div4 {
    grid-area: div4;
} */

.game>.top-left {
    background-color: rgb(0, 180, 0);
    border-top-left-radius: 100%;
}

.game>.top-right {
    background-color: rgb(27, 27, 255);
    border-top-right-radius: 100%;
}

.game>.bottom-left {
    background-color: #F00;
    border-bottom-left-radius: 100%;
}

.game>.bottom-right {
    background-color: #FFFF00;
    border-bottom-right-radius: 100%;
}

.game>.active {
    animation: 500ms ease-out forwards piscadola;
}

.game>.touchable {
    cursor: pointer;
}

/* ---------- ANIMATION ---------- */
@keyframes piscadola {
    50% {
        background-color: white;
    }

}

/* ---------- BUTTONS ---------- */

div.buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 2rem;
    background-color: white;
    color: black;
    border: 10px solid black;
    width: 50%;
    height: 50%;

    font-family: 'Press Start 2P', cursive;
}

#start-button {
    align-self: center;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #333;
    box-shadow: 1px 1px 3px #333;
    color: white;
    position: absolute;
    bottom: 1.5rem;

    font-family: 'Press Start 2P', cursive;
}

#counter-start {
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
    font-size: min(1.15rem, 2vw);
}

/* ---------- SCORE ---------- */

div.score {
    font-size: min(2rem, 3vw);
    text-align: center;
}